<div>
    <h2 class="home-content-title">Recently viewed &amp; more</h2>
    <div class="clearfix">
        <div class="col-sm-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
              <div class="card-block sm">
                <p class="card-title">Landscape photography</p>
                <div class="clearfix">
                    <span class="card-shop-name pull-left">plains shopwood</span>
                    <span class="card-price pull-right">US$200</span>
                </div>  
              </div>
            </div>
        </div>
		<div class="col-sm-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
              <div class="card-block sm">
                <p class="card-title">Landscape photography</p>
                <div class="clearfix">
                    <span class="card-shop-name pull-left">plains shopwood</span>
                    <span class="card-price pull-right">US$200</span>
                </div>  
              </div>
            </div>
        </div>
		<div class="col-sm-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
              <div class="card-block sm">
                <p class="card-title">Landscape photography</p>
                <div class="clearfix">
                    <span class="card-shop-name pull-left">plains shopwood</span>
                    <span class="card-price pull-right">US$200</span>
                </div>  
              </div>
            </div>
        </div>
		<div class="col-sm-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
              <div class="card-block sm">
                <p class="card-title">Landscape photography</p>
                <div class="clearfix">
                    <span class="card-shop-name pull-left">plains shopwood</span>
                    <span class="card-price pull-right">US$200</span>
                </div>  
              </div>
            </div>
        </div>
    </div>
</div>  
<!-- /Recently viewed & more -->

<!-- Shop by category -->
<div>
    <h2 class="home-content-title">Shop by category</h2>
    <div class="clearfix">
        <div class="col-sm-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
              <div class="card-block sm">
                <p class="card-title">Landscape photography</p>
                <div class="clearfix">
                    <span class="card-shop-name pull-left">plains shopwood</span>
                    <span class="card-price pull-right">US$200</span>
                </div>  
              </div>
            </div>
        </div>
		<div class="col-sm-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
              <div class="card-block sm">
                <p class="card-title">Landscape photography</p>
                <div class="clearfix">
                    <span class="card-shop-name pull-left">plains shopwood</span>
                    <span class="card-price pull-right">US$200</span>
                </div>  
              </div>
            </div>
        </div>
		<div class="col-sm-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
              <div class="card-block sm">
                <p class="card-title">Landscape photography</p>
                <div class="clearfix">
                    <span class="card-shop-name pull-left">plains shopwood</span>
                    <span class="card-price pull-right">US$200</span>
                </div>  
              </div>
            </div>
        </div>
		<div class="col-sm-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
              <div class="card-block sm">
                <p class="card-title">Landscape photography</p>
                <div class="clearfix">
                    <span class="card-shop-name pull-left">plains shopwood</span>
                    <span class="card-price pull-right">US$200</span>
                </div>  
              </div>
            </div>
        </div>
    </div>
</div>
<!-- /Shop by category -->

<!-- Recently Uploaded -->
<div>
    <h2 class="home-content-title">Recently Uploaded</h2>
    <div class="clearfix">
        <div class="col-sm-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
              <div class="card-block sm">
                <p class="card-title">Landscape photography</p>
                <div class="clearfix">
                    <span class="card-shop-name pull-left">plains shopwood</span>
                    <span class="card-price pull-right">US$200</span>
                </div>  
              </div>
            </div>
        </div>
		<div class="col-sm-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
              <div class="card-block sm">
                <p class="card-title">Landscape photography</p>
                <div class="clearfix">
                    <span class="card-shop-name pull-left">plains shopwood</span>
                    <span class="card-price pull-right">US$200</span>
                </div>  
              </div>
            </div>
        </div>
		<div class="col-sm-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
              <div class="card-block sm">
                <p class="card-title">Landscape photography</p>
                <div class="clearfix">
                    <span class="card-shop-name pull-left">plains shopwood</span>
                    <span class="card-price pull-right">US$200</span>
                </div>  
              </div>
            </div>
        </div>
		<div class="col-sm-3">
            <div class="card">
              <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
              <div class="card-block sm">
                <p class="card-title">Landscape photography</p>
                <div class="clearfix">
                    <span class="card-shop-name pull-left">plains shopwood</span>
                    <span class="card-price pull-right">US$200</span>
                </div>  
              </div>
            </div>
        </div>
    </div>
</div>            
<div class="text-center more mt30">
    <a href="">See More <i class="fa fa-chevron-right"></i></a>
</div>   
<!-- /Recently Uploaded -->