<!-- header -->
<header>
	<nav class="navbar navbar-default bootsnav">
        <div class="container">      
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#brand"><img src="images/theme_logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">

                <ul id="hlink" class="nav navbar-nav navbar-right">

                    <li><a href="#">Home</a></li>                    
                    <li><a href="#">Register</a></li>
                    <li><a href="#" class="signin">Signin</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>   
    </nav>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse bgwhite" id="navbar-menu">
        <ul class="nav navbar-nav megamenu" data-in="fadeInDown" data-out="fadeOutUp">
            <li><a href="#">Home</a></li>                    
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            
            <li class="dropdown megamenu-fw">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Megamenu</a>
                <ul class="dropdown-menu megamenu-content" role="menu">
                    <li>
                        <div class="row">
                            <div class="col-menu col-md-3">
                                <h6 class="title">Title Menu One</h6>
                                <div class="content">
                                    <ul class="menu-col">
                                        <li><a href="#">Custom Menu</a></li>
                                        -- More Menu --
                                    </ul>
                                </div>
                            </div><!-- end col-3 -->
                            <div class="col-menu col-md-3">
                                <h6 class="title">Title Menu Two</h6>
                                <div class="content">
                                    <ul class="menu-col">
                                        <li><a href="#">Custom Menu</a></li>
                                        -- More Menu --
                                    </ul>
                                </div>
                            </div><!-- end col-3 -->
                            <div class="col-menu col-md-3">
                                <h6 class="title">Title Menu Three</h6>
                                <div class="content">
                                    <ul class="menu-col">
                                        <li><a href="#">Custom Menu</a></li>
                                        -- More Menu --
                                    </ul>
                                </div>
                            </div>    
                            <div class="col-menu col-md-3">
                                <h6 class="title">Title Menu Four</h6>
                                <div class="content">
                                    <ul class="menu-col">
                                        <li><a href="#">Custom Menu</a></li>
                                        -- More Menu --
                                    </ul>
                                </div>
                            </div><!-- end col-3 -->
                        </div><!-- end row -->
                    </li>
                </ul>
            </li>

            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</header>
<!-- /header -->

<!-- Search Header -->
<div class="search-header">
    
    <div class="vertical-center">
    <div class="container">    
        <h1 class="search-title-text">Whoever you are, find whatever you're into</h1>
        <div class="input-group col-sm-5">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">search</button>
          </span>
        </div>
    </div>
    </div>    
</div>
<!-- /Search Header -->

<!-- content website -->
<div id="content">
    <!-- Introduction -->
    <div class="container">
        <div class="col-sm-4">
                <div class="media">
                  <a class="media-left" href="#">
                    <img class="media-object" src="images/img1.png" alt="Generic placeholder image">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading home-sm-title sm">Get something you love</h4>
                    <p>More than a million independent sellers from everywhere are right here</p>
                  </div>
                </div>
        </div>
        
        <div class="col-sm-4">
                <div class="media">
                  <a class="media-left" href="#">
                    <img class="media-object" src="images/img2.png" alt="Generic placeholder image">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading home-sm-title sm">Find your new favourite shop</h4>
                    <p>More than a million independent sellers from everywhere are right here</p>
                  </div>
                </div>
        </div>
        
        <div class="col-sm-4">
                <div class="media">
                  <a class="media-left" href="#">
                    <img class="media-object" src="images/img3.png" alt="Generic placeholder image">
                  </a>
                  <div class="media-body">
                    <h4 class="media-heading home-sm-title sm">Buy safely and securely</h4>
                    <p>More than a million independent sellers from everywhere are right here</p>
                  </div>
                </div>
        </div>
    </div>

    <!-- Container -->
    <div class="container">
        <!-- Recently viewed & more -->
        <router-outlet></router-outlet>
    </div>
    <!-- /Container -->

    <!-- Trust -->
    <div class="safebanner clearfix text-center">
		<div class="col-sm-2">
			<img src="images/trust1.png" />
		</div>
        <div class="col-sm-8">
        <h2 class="home-banner-title">keeps you safe</h2>
        <div class="col-sm-4">
            <h4 class="home-sm-title white">Trust worth seller</h4>
            <p>Whether you use a credit card, a bank transfer or Paypal, we make it our top priority to keep your payment information encrypted and secure.<a href="https://www.etsy.com/in-en/help/article/2048" class="link">Find out more</a></p>
        </div>
        <div class="col-sm-4">
            <h4 class="home-sm-title white">Trust worth seller</h4>
            <p>Whether you use a credit card, a bank transfer or Paypal, we make it our top priority to keep your payment information encrypted and secure.<a href="https://www.etsy.com/in-en/help/article/2048" class="link">Find out more</a></p>
        </div>
        <div class="col-sm-4">
            <h4 class="home-sm-title white">Trust worth seller</h4>
            <p>Whether you use a credit card, a bank transfer or Paypal, we make it our top priority to keep your payment information encrypted and secure. <a href="https://www.etsy.com/in-en/help/article/2048" class="link">Find out more</a></p></div>
        </div>    
		<div class="col-sm-2">
			<img src="images/trust2.png" />
		</div>
    </div>
    <!-- /Trust -->

    <!-- Shop Only shop -->
    <div class="container clearfix">
        <h2 class="home-content-title">Shop Only shop</h2>
        <div class="clearfix">
            <div class="col-sm-4">
                <div class="card">
                  <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
                  <div class="card-block sm">
                      <div class="media">
                  <a class="media-left" href="#">
                    <img class="media-object" src="images/img4.jpg" width="50" height="50" alt="Generic placeholder image">
                  </a>
                  <div class="media-body shopsm">
                    <a href="">Media heading</a>
                    <div class="text-gray-lighter text-truncate">
						<span class="fa fa-map-marker" aria-hidden="true"></span> Bengaluru, Karnataka&nbsp;
					</div>
                  </div>
                </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
                  <div class="card-block sm">
                      <div class="media">
                  <a class="media-left" href="#">
                    <img class="media-object" src="images/img4.jpg" width="50" height="50" alt="Generic placeholder image">
                  </a>
                  <div class="media-body shopsm">
                    <a href="">Media heading</a>
                    <div class="text-gray-lighter text-truncate">
						<span class="fa fa-map-marker" aria-hidden="true"></span> Bengaluru, Karnataka&nbsp;
					</div>
                  </div>
                </div>
                  </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card">
                  <img class="card-img-top img-responsive" src="images/img4.jpg" alt="Card image cap">
                  <div class="card-block sm">
                      <div class="media">
                  <a class="media-left" href="#">
                    <img class="media-object" src="images/img4.jpg" width="50" height="50" alt="Generic placeholder image">
                  </a>
                  <div class="media-body shopsm">
                    <a href="">Media heading</a>
                    <div class="text-gray-lighter text-truncate">
						<span class="fa fa-map-marker" aria-hidden="true"></span> Bengaluru, Karnataka&nbsp;
					</div>
                  </div>
                </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
	<!-- /Shop Only shop -->

    <!-- Difference Make Us -->
	<div class="clearfix">
        <h2 class="home-content-title">#Difference Make Us</h2>
		<div class="video-background rel">
			<div class="video-play-btn">
			</div>
		</div>
	</div>
    <!-- /Difference Make Us -->

    <!-- START SELLING ON EASY -->
    <div class="safebanner light rel clearfix text-center">
		<img src="images/sell1.png" width="300" class="selleft" />
        <div>
        <h2 class="home-banner-title">Start Selling on Easy</h2>
        <p>Millions of shopper cant't wait to see</p>
        <a href="">Once a shop today</a>    
        </div>    
		<img src="images/sell2.png" width="300" class="selright" />
    </div>
    <!-- /START SELLING ON EASY -->
    
    <!-- Recent reviews from happy people -->
    <div class="container">
        <h2 class="home-banner-title">keeps you safe</h2>
        <div class="col-sm-4 text-center">
            <div class="circle horizontal-center">
                <img src="images/rndimg.jpg" width="64" />
            </div>
            <div class="mt30 bg-rounded">
				<span><strong>mjshanks</strong> wrote on 27 September</span>
				<p class="mt30 text-gray">
				My wife wrote a blog about too ripe bananas so I surprised her with this pin. She loves it!
				</p>
				<img src="images/img5.jpg" class="img-responsive" />
				<span class="pd10">BANANA ENAMEL PIN</span>
			</div>
        </div>
    
        <div class="col-sm-4 text-center">
            <div class="circle horizontal-center">
                <img src="images/rndimg.jpg" width="64" />
            </div>
            <div class="mt30 bg-rounded">
				<span><strong>mjshanks</strong> wrote on 27 September</span>
				<p class="mt30 text-gray">
				My wife wrote a blog about too ripe bananas so I surprised her with this pin. She loves it!
				</p>
				<img src="images/img5.jpg" class="img-responsive" />
				<span class="pd10">BANANA ENAMEL PIN</span>
			</div>
        </div>
    
        <div class="col-sm-4 text-center">
            <div class="circle horizontal-center">
                <img src="images/rndimg.jpg" width="64" />
            </div>
            <div class="mt30 bg-rounded">
				<span><strong>mjshanks</strong> wrote on 27 September</span>
				<p class="mt30 text-gray">
				My wife wrote a blog about too ripe bananas so I surprised her with this pin. She loves it!
				</p>
				<img src="images/img5.jpg" class="img-responsive" />
				<span class="pd10">BANANA ENAMEL PIN</span>
			</div>
        </div>
    </div>
    <!-- /Recent reviews from happy people -->
    
    <!-- WHAT IS ETSY? -->
    <div class="safebanner rel clearfix text-center">
		<img src="images/etsy1.png" width="340" class="etsyleft" />
        <div>
        <h2 class="home-banner-title">What is Etsy?</h2>
        <p>Millions of shopper cant't wait to see</p>
        <a href="" class="link">Once a shop today</a>    
        </div>    
		<img src="images/etsy2.png" width="340" class="etsyright" />
    </div>
	<!-- /WHAT IS ETSY? -->

    <!-- Footer -->
	<div class="footer">
		<div class="email-signup text-center">
			<div class="email-signup-content">
				<h3>Get top trends and fresh editors' picks in your inbox with Etsy Finds.</h3>
				<form>
					<input type="text" value="" />
					<input type="submit" value="submit" class="btn btn-orange" /> 
				</form>
			</div>
		</div>
		
		<div class="footer-inner">
			<div class="footer-content">
				<div class="col-sm-5">
					<div class="clearfix">
						<div class="col-sm-6">
							<ul>
								<li class="footer-link-trigger">
								<h4>Sell on Etsy</h4></li>
								<li>
										<a href="">Open a Shop</a>
								</li>
																<li><a href="/in-en/seller-handbook/?ref=ftr">Seller Handbook</a></li>
								<li>
								<a href="">Etsy credit card reader</a></li>
								<li><a href="">Manufacturing</a></li>
                            </ul>
							
						</div>
						<div class="col-sm-6">
							<ul>
                            <li><h4>Join the community</h4></li>
                            <li><a href="">Teams</a></li>
                            <li><a href="">Forums</a></li>
                            <li><a href="">Upcoming events</a></li>
                            <li><a href="">Affiliates</a></li>
                            <li><a href="">Etsy Local</a></li>
                        </ul>
						</div>
					</div>
				</div>
				<div class="col-sm-2">
					<ul class="show">
                            <li><h4>Discover and shop</h4></li>
                            <li><a rel="nofollow" href="/in-en/giftcards/?ref=ftr">Gift cards</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Treasury</a></li>
                            <li><a href="">Mobile apps</a></li>
                            <li><a href="">Gift registries</a></li>
                            <li><a href="">Wholesale</a></li>
                            <li><a href="">Search</a></li>
                            <li><a href="">Editors’ Picks</a></li>
                    </ul>
				</div>
				<div class="col-sm-5">
					<div class="clearfix">
					<ul class="show col-sm-6">
                            <li><h4>Discover and shop</h4></li>
                            <li><a rel="nofollow" href="/in-en/giftcards/?ref=ftr">Gift cards</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Treasury</a></li>
                            <li><a href="">Mobile apps</a></li>
                            <li><a href="">Gift registries</a></li>
                            <li><a href="">Wholesale</a></li>
                            <li><a href="">Search</a></li>
                            <li><a href="">Editors’ Picks</a></li>
                    </ul>
					<ul class="show col-sm-6">
                            <li class="footer-link-trigger"><h4>Follow Etsy</h4></li>
                            <li class="social"><a href="https://www.facebook.com/Etsy"><i class="fa fa-facebook"></i>Facebook</a></li>
                            <li class="social"><a href="https://www.twitter.com/etsy"><i class="fa fa-twitter"></i>Twitter</a></li>
                            <li class="social"><a href="https://www.pinterest.com/etsy"><i class="fa fa-pinterest"></i>Pinterest</a></li>
                        </ul>
					</div>
				</div>
			</div>
		</div>			
	</div>
    <!-- /Footer -->        
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<script>	
    jQuery(document).ready(function(){
        $(".dropdown").hover(
            function() { $('.dropdown-menu', this).fadeIn("fast");
        },
            function() { $('.dropdown-menu', this).fadeOut("fast");
        });
    });

    var $window = $(window).width();
    if($(window).width() < 767)
    {
       $(".megamenu").insertAfter("#hlink");
    } else {
       // change functionality for larger screens
    }
</script>