<!-- header -->
<header>
	<nav class="navbar navbar-default bootsnav">
        <div class="container">      
            <!-- Start Header Navigation -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="#brand"><img src="images/theme_logo.png" class="logo" alt=""></a>
            </div>
            <!-- End Header Navigation -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-menu">

                <ul id="hlink" class="nav navbar-nav navbar-right">

                    <li><a href="#">Home</a></li>                    
                    <li><a href="#">Register</a></li>
                    <li><a href="#" class="signin">Signin</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>   
    </nav>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse bgwhite" id="navbar-menu">
        <ul class="nav navbar-nav megamenu" data-in="fadeInDown" data-out="fadeOutUp">
            <li><a href="#">Home</a></li>                    
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            
            <li class="dropdown megamenu-fw">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Megamenu</a>
                <ul class="dropdown-menu megamenu-content" role="menu">
                    <li>
                        <div class="row">
                            <div class="col-menu col-md-3">
                                <h6 class="title">Title Menu One</h6>
                                <div class="content">
                                    <ul class="menu-col">
                                        <li><a href="#">Custom Menu</a></li>
                                        -- More Menu --
                                    </ul>
                                </div>
                            </div><!-- end col-3 -->
                            <div class="col-menu col-md-3">
                                <h6 class="title">Title Menu Two</h6>
                                <div class="content">
                                    <ul class="menu-col">
                                        <li><a href="#">Custom Menu</a></li>
                                        -- More Menu --
                                    </ul>
                                </div>
                            </div><!-- end col-3 -->
                            <div class="col-menu col-md-3">
                                <h6 class="title">Title Menu Three</h6>
                                <div class="content">
                                    <ul class="menu-col">
                                        <li><a href="#">Custom Menu</a></li>
                                        -- More Menu --
                                    </ul>
                                </div>
                            </div>    
                            <div class="col-menu col-md-3">
                                <h6 class="title">Title Menu Four</h6>
                                <div class="content">
                                    <ul class="menu-col">
                                        <li><a href="#">Custom Menu</a></li>
                                        -- More Menu --
                                    </ul>
                                </div>
                            </div><!-- end col-3 -->
                        </div><!-- end row -->
                    </li>
                </ul>
            </li>

            <li><a href="#">Portfolio</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</header>
<!-- /header -->

<!-- content website -->
<div id="content">
    <router-outlet></router-outlet>
</div>

<!-- Footer -->
<div class="footer">
    <div class="footer-inner">
        <div class="footer-content">
            <div class="col-sm-5">
                <div class="clearfix">
                    <div class="col-sm-6">
                        <ul>
                            <li class="footer-link-trigger">
                            <h4>Sell on Etsy</h4></li>
                            <li><a href="">Open a Shop</a></li>
                            <li><a href="/in-en/seller-handbook/?ref=ftr">Seller Handbook</a></li>
                            <li><a href="">Etsy credit card reader</a></li>
                            <li><a href="">Manufacturing</a></li>
                        </ul>
                        
                    </div>
                    <div class="col-sm-6">
                        <ul>
                        <li><h4>Join the community</h4></li>
                        <li><a href="">Teams</a></li>
                        <li><a href="">Forums</a></li>
                        <li><a href="">Upcoming events</a></li>
                        <li><a href="">Affiliates</a></li>
                        <li><a href="">Etsy Local</a></li>
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <ul class="show">
                        <li><h4>Discover and shop</h4></li>
                        <li><a rel="nofollow" href="/in-en/giftcards/?ref=ftr">Gift cards</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Treasury</a></li>
                        <li><a href="">Mobile apps</a></li>
                        <li><a href="">Gift registries</a></li>
                        <li><a href="">Wholesale</a></li>
                        <li><a href="">Search</a></li>
                        <li><a href="">Editors’ Picks</a></li>
                </ul>
            </div>
            <div class="col-sm-5">
                <div class="clearfix">
                <ul class="show col-sm-6">
                        <li><h4>Discover and shop</h4></li>
                        <li><a rel="nofollow" href="/in-en/giftcards/?ref=ftr">Gift cards</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Treasury</a></li>
                        <li><a href="">Mobile apps</a></li>
                        <li><a href="">Gift registries</a></li>
                        <li><a href="">Wholesale</a></li>
                        <li><a href="">Search</a></li>
                        <li><a href="">Editors’ Picks</a></li>
                </ul>
                <ul class="show col-sm-6">
                        <li class="footer-link-trigger"><h4>Follow Etsy</h4></li>
                        <li class="social"><a href="https://www.facebook.com/Etsy"><i class="fa fa-facebook"></i>Facebook</a></li>
                        <li class="social"><a href="https://www.twitter.com/etsy"><i class="fa fa-twitter"></i>Twitter</a></li>
                        <li class="social"><a href="https://www.pinterest.com/etsy"><i class="fa fa-pinterest"></i>Pinterest</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>          
</div>
<!-- /Footer -->  

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>

<script>	
    jQuery(document).ready(function(){
        $(".dropdown").hover(
            function() { $('.dropdown-menu', this).fadeIn("fast");
        },
            function() { $('.dropdown-menu', this).fadeOut("fast");
        });
    });

    var $window = $(window).width();
    if($(window).width() < 767)
    {
       $(".megamenu").insertAfter("#hlink");
    } else {
       // change functionality for larger screens
    }
</script>